.content {
	text-align: center;
	background-color: ivory;
	color: blue;
	width: 600px;
	margin: auto;
	padding: 10px;
	

.container {
	background-image: url("giannis.JPG");
	
	padding: 10px;
	margin: auto;
}

.header {
	text-align: center;
	font-family: arial;
	font-size: 20px;
	color:ivory ;
}

body{
	
}

a {
	color:lightblue;

	text-decoration: none;
}

button {
	color: green;
	transform: translateY(3px);
}

h2 {
	color: ivory;
	text-align: center;
}